<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link rel="stylesheet" th:href="@{/styles/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/styles/index.css}">
    <script defer th:src="@{/scripts/bootstrap.bundle.min.js}"></script>
</head>
<body>
<header th:replace="~{components/navbar.html :: navbar('list')}"></header>
<div class="container py-5">
    <div>
        <a href="/employee/create">
            <button class="btn btn-success">create new employee</button>
        </a>
        <a href="/server/employee/list/filters/clear">
            <button class="btn btn-success">clear filters</button>
        </a>
        <a href="/server/employee/list/csv">
            <button class="btn btn-success">export</button>
        </a>
    </div>
    <!--        filters-->
    <div class="container mt-3">
        <form action="/employee/list" class="row g-3" method="get" th:object="${employeeFilters}">
            <div class="col-md-4 col-12 col-sm-6">
                <label class="form-label" for="firstName">First name</label>
                <input class="form-control" id="firstName" name="firstName" th:field="*{firstName}" type="text"/>
            </div>
            <div class="col-md-4 col-12 col-sm-6">
                <label class="form-label" for="lastName">Last name</label>
                <input class="form-control" id="lastName" name="lastName" th:field="*{lastName}" type="text"/>
            </div>
            <div class="col-md-4 col-12 col-sm-6">
                <label class="form-label" for="countryCode">Country Code</label>
                <input class="form-control" id="countryCode" name="countryCode" th:field="*{countryCode}" type="text"/>
            </div>
            <div class="col-md-4 col-12 col-sm-6">
                <label class="form-label" for="sex">Sex</label>
                <select class="form-select" id="sex" name="sex" th:field="*{sex}">
                    <option selected th:value="${null}">Chose your sex</option>
                    <option th:each="sex : ${T(com.example.prog4.model.core.enums.Sex).values()}" th:text="${sex}"
                            th:value="${sex}"></option>
                </select>
            </div>
            <div class="col-md-4 col-12 col-sm-6">
                <label class="form-label" for="entrance.begin">Entrance beginning date</label>
                <input class="form-control" id="entrance.begin" name="entrance.begin" th:field="*{entrance.begin}"
                       type="date">
            </div>
            <div class="col-md-4 col-12 col-sm-6">
                <label class="form-label" for="entrance.end">Entrance ending date</label>
                <input class="form-control" id="entrance.end" name="entrance.end" th:field="*{entrance.end}"
                       type="date">
            </div>
            <div class="col-md-4 col-12 col-sm-6">
                <label class="form-label" for="departure.begin">Departure beginning date</label>
                <input class="form-control" id="departure.begin" name="departure.begin" th:field="*{departure.begin}"
                       type="date">
            </div>
            <div class="col-md-4 col-12 col-sm-6">
                <label class="form-label" for="departure.end">Departure ending date</label>
                <input class="form-control" id="departure.end" name="departure.end"
                       th:field="*{departure.end}" type="date">
            </div>
            <div class="col-md-4 col-12 col-sm-6">
                <label class="form-label" for="page">Page</label>
                <input class="form-control" id="page" min="1" name="page" th:field="*{page}"
                       type="number">
            </div>
            <div class="col-md-4 col-12 col-sm-6">
                <label class="form-label" for="perPage">Per page</label>
                <input class="form-control" id="perPage" min="5" name="perPage" th:field="*{perPage}"
                       type="number">
            </div>
            <div class="col-md-4 col-12 col-sm-6">
                <label class="form-label" for="orderBy">OrderBy</label>
                <select class="form-select" id="orderBy" name="orderBy" th:field="*{orderBy}">
                    <option th:each="orderByEnum : ${T(com.example.prog4.model.enums.EmployeeSortField).values()}"
                            th:text="${orderByEnum}"
                            th:value="${orderByEnum}"></option>
                </select>
            </div>
            <div class="col-md-4 col-12 col-sm-6">
                <label class="form-label" for="orderDirection">orderDirection</label>
                <select class="form-select" id="orderDirection" name="orderBy"
                        th:field="*{orderDirection}">
                    <option th:each="dir : ${directions}" th:text="${dir}" th:value="${dir}"></option>
                </select>
            </div>
            <div class="my-3 col-12">
                <button class="btn btn-primary" type="submit">Filter</button>
            </div>
        </form>
    </div>
    <div class="container">
        <table class="table table-striped table-hover">
            <thead>
            <tr>
                <th>Image</th>
                <th>Last name</th>
                <th>First name</th>
                <th>Sex</th>
                <th>positions</th>
                <th>Entrance date</th>
                <th>Departure date</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="employee : *{employees}">
                <td><img alt="no image" class="img-list" th:src="*{employee.stringImage}"></td>
                <td><p th:text="*{employee.lastName}"></p></td>
                <td><p th:text="*{employee.firstName}"></p></td>
                <td><p th:text="*{employee.sex.toString()}"></p></td>
                <td><p class="p-2 rounded-3 bg-body m-2" th:each="position : *{employee.positions}"
                       th:text="*{position.name}"></p></td>
                <td><p th:text="*{employee.entranceDate.toString()}"></p></td>
                <td><p th:text="*{employee.departureDate.toString()}"></p></td>
                <td>
                    <a th:href="'/employee/edit/'+ *{employee.id}">
                        <button class="btn btn-primary">edit</button>
                    </a>
                    <a th:href="'/employee/show/'+*{employee.id}">
                        <button class="btn btn-primary">show</button>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<footer th:replace="~{components/navbar.html :: footer}"></footer>
</body>
</html>
