<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link rel="stylesheet" th:href="@{/styles/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/styles/index.css}">
    <script defer th:inline="javascript" th:src="@{/scripts/add-phone-script.js}"></script>
    <script defer th:inline="javascript" th:src="@{/scripts/add-position-script.js}"></script>
    <script defer th:src="@{/scripts/bootstrap.bundle.min.js}"></script>
    <title>Create employee</title>
</head>
<body>
<header th:replace="~{components/navbar.html :: navbar('edition / ' + ${eId})}"></header>
<div class="container py-5">
    <form action="/server/employee/createOrUpdate" class="row g-3" enctype="multipart/form-data" method="POST"
          th:object="${employee}">
        <div class="col-12 d-flex justify-content-start align-items-center">
            <img alt="no image" th:src="${employee.stringImage}">
        </div>
        <input id="id" name="id" required th:field="*{id}" type="hidden"/>
        <input id="registrationNumber" name="registrationNumber" required th:field="*{registrationNumber}"
               type="hidden"/>
        <div class="col-lg-4 col-md-6">
            <label class="form-label" for="lastName">Last name</label>
            <input class="form-control" id="lastName" name="lastName" required th:field="*{lastName}" type="text">
        </div>
        <div class="col-lg-4 col-md-6">
            <label class="form-label" for="firstName">First name</label>
            <input class="form-control" id="firstName" name="firstName" required th:field="*{firstName}" type="text">
        </div>
        <div class="col-lg-4 col-md-6">
            <label class="form-label" for="inputAddress">Address</label>
            <input class="form-control" id="inputAddress" name="address" required th:field="*{address}">
        </div>
        <div class="col-lg-4 col-md-6">
            <label class="form-label" for="image">Image</label>
            <input class="form-control" id="image" name="address" th:field="*{image}" type="file">
        </div>
        <div class="col-lg-4 col-md-6">
            <label class="form-label" for="personalEmail">Personal email</label>
            <input class="form-control" id="personalEmail" name="personalEmail" required th:field="*{personalEmail}"
                   type="text">
        </div>
        <div class="col-lg-4 col-md-6">
            <label class="form-label" for="professionalEmail">Professional email</label>
            <input class="form-control" id="professionalEmail" name="professionalEmail" required th:field="*{professionalEmail}"
                   type="text">
        </div>
        <div class="col-lg-4 col-md-6">
            <label class="form-label" for="cin">CIN</label>
            <input class="form-control" id="cin" name="cin" required th:field="*{cin}" type="text">
        </div>
        <div class="col-lg-4 col-md-6">
            <label class="form-label" for="childrenNumber">Children number</label>
            <input class="form-control" id="childrenNumber" min="0" name="childrenNumber" required th:field="*{childrenNumber}"
                   type="number">
        </div>

        <div class="col-lg-4 col-md-6">
            <label class="form-label" for="birthDate">Birthdate</label>
            <input class="form-control" id="birthDate" name="birthDate" th:field="*{birthDate}" type="date">
        </div>
        <div class="col-lg-4 col-md-6">
            <label class="form-label" for="entranceDate">Entrance date</label>
            <input class="form-control" id="entranceDate" name="entranceDate" th:field="*{entranceDate}"
                   type="date">
        </div>
        <div class="col-lg-4 col-md-6">
            <label class="form-label" for="departureDate">Departure date</label>
            <input class="form-control" id="departureDate" name="departureDate" th:field="*{departureDate}"
                   type="date">
        </div>
        <div class="col-md-6">
            <label class="form-label" for="sex">Sex</label>
            <select class="form-select" id="sex" name="sex" th:field="*{sex}">
                <option selected value="">Chose your sex</option>
                <option th:each="sex : ${T(com.example.prog4.model.core.enums.Sex).values()}" th:text="${sex}"
                        th:value="${sex}"></option>
            </select>
        </div>
        <div class="col-md-6">
            <label class="form-label" for="csp">CSP</label>
            <select class="form-select" id="csp" name="csp" th:field="*{csp}">
                <option selected value="">Chose your CSP</option>
                <option th:each="csp : ${T(com.example.prog4.model.core.enums.Csp).values()}" th:text="${csp}"
                        th:value="${csp}"></option>
            </select>
        </div>
        <div class="col-12 my-3"></div>
        <div class="col-12 col-md-6">
            <div class="list-group" id="phonesList">
                <div class="input-group mb-3" th:each="phone, phoneStatus : *{phones}">
                    <input th:field="*{phones[__${phoneStatus.index}__].id}" type="hidden"/>
                    <input class="form-control w-40" placeholder="Country code"
                           required
                           th:field="*{phones[__${phoneStatus.index}__].countryCode}" type="number"/>
                    <input class="form-control" required
                           th:field="*{phones[__${phoneStatus.index}__].value}"
                           type="number"/>
                    <button class="btn-info btn-danger" th:onclick="'removePhone(' + ${phoneStatus.index} + ')'"
                            type="button">Remove
                    </button>
                </div>
            </div>
            <button class="btn btn-info" th:onclick="addPhone()" type="button">Add Phone</button>
        </div>
        <div class="col-12 col-md-6">
            <div class="list-group" id="positionsList">
                <div class="input-group mb-3" th:each="position, positionStatus : *{positions}">
                    <input th:field="*{positions[__${positionStatus.index}__].id}" type="hidden"/>
                    <input class="form-control" required th:field="*{positions[__${positionStatus.index}__].name}"
                           type="text"/>
                    <button class="btn-info btn-danger" th:onclick="'removePosition(' + ${positionStatus.index} + ')'"
                            type="button">Remove
                    </button>
                </div>
            </div>
            <button class="btn btn-info" th:onclick="addPosition()" type="button">Add Position</button>
        </div>
        <div class="col-12 my-3"></div>
        <div class="col-12">
            <button class="btn btn-primary" type="submit">Save</button>
            <a href="/employee/list">
                <button class="btn btn-danger" type="button">Cancel</button>
            </a>
        </div>
    </form>
</div>
<footer th:replace="~{components/navbar.html :: footer}"></footer>
</body>
</html>
