<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link rel="stylesheet" th:href="@{/styles/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/styles/index.css}">
    <script defer th:src="@{/scripts/bootstrap.bundle.min.js}"></script>
</head>
<body>
<header th:replace="~{components/navbar.html :: navbar('show / ' + ${eId})}"></header>
<div class="container-fluid row text-center">
    <div class="col-12 d-flex justify-content-start mb-5 align-items-center">
        <img alt="no image" th:src="${employee.stringImage}">
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-12">
        <label class="form-label text-black-50" for="lastName">Last name</label>
        <p class="form-control show-fields" id="lastName" th:text="*{employee.lastName}" type="text"></p>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-12">
        <label class="form-label text-black-50" for="firstName">First name</label>
        <p class="form-control show-fields" id="firstName" th:text="*{employee.firstName}"
           type="text"></p>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-12">
        <label class="form-label text-black-50" for="inputAddress">Address</label>
        <p class="form-control show-fields" id="inputAddress" th:text="*{employee.address}"></p>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-12">
        <label class="form-label text-black-50" for="personalEmail">Personal email</label>
        <p class="form-control show-fields" id="personalEmail" th:text="*{employee.personalEmail}"
           type="text"></p>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-12">
        <label class="form-label text-black-50" for="professionalEmail">Professional email</label>
        <p class="form-control show-fields" id="professionalEmail" th:text="*{employee.professionalEmail}"
           type="text"></p>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-12">
        <label class="form-label text-black-50" for="cin">CIN</label>
        <p class="form-control show-fields" id="cin" th:text="*{employee.cin}"></p>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-12">
        <label class="form-label text-black-50" for="cnaps">CNAPS</label>
        <p class="form-control show-fields" id="cnaps" th:if="${employee.cnaps != null}" th:text="*{employee.cnaps}"
           type="text"></p>
        <p class="form-control show-fields" id="cnaps-error" th:if="${employee.cnaps == null}"
           type="text">no cnaps nbr</p>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-12">
        <label class="form-label text-black-50" for="childrenNumber">Children number</label>
        <p class="form-control show-fields" id="childrenNumber" th:text="*{employee.childrenNumber}"
           type="number"></p>
    </div>

    <div class="col-lg-3 col-md-4 col-sm-6 col-12">
        <label class="form-label text-black-50" for="birthDate">Birthdate</label>
        <p class="form-control show-fields" id="birthDate" th:text="*{employee.birthDate}" type="date"></p>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-12">
        <label class="form-label text-black-50" for="entranceDate">Entrance date</label>
        <p class="form-control show-fields" id="entranceDate" th:text="*{employee.entranceDate}"
           type="date"></p>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-12">
        <label class="form-label text-black-50" for="departureDate">Departure date</label>
        <p class="form-control show-fields" id="departureDate" th:text="*{employee.departureDate}"
           type="date"></p>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-12">
        <label class="form-label text-black-50" for="sex">Sex</label>
        <p class="form-control show-fields" id="sex" th:text="${employee.sex}"></p>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-12">
        <label class="form-label text-black-50" for="csp">CSP</label>
        <p class="form-control show-fields" id="csp" th:text="${employee.csp}"></p>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-12">
        <label class="form-label text-black-50" for="phones">Phone</label>
        <div id="phones" th:each="phone : ${employee.phones}">
            <p class="form-control show-fields" th:text="${phone.countryCode} + ' ' +${phone.value}"></p>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-12">
        <label class="form-label text-black-50" for="position">Position</label>
        <div id="position" th:each="position : ${employee.positions}">
            <p class="form-control show-fields" th:text="${position.name}"></p>
        </div>
    </div>
</div>

<footer th:replace="~{components/navbar.html :: footer}"></footer>
</body>
</html>
